<%# <div class = "home-body" style="display:none"> </div> %>
<p id="notice"><%= notice %></p>

<h1 class="headers deco">Decorators</h1>

<table class="table">
  <thead class="thead-dark">
    <tr class="firstRow">
      <th>Name</th>
      <th>City</th>
      <th>Price</th>
      <th>Phone</th>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @decorators.each do |decorator| %>
      <tr class="rows">
        <td class="rows"><%= decorator.name %></td> 
        <td class="rows"><%= decorator.city %></td>
        <td class="rows"><%= decorator.price %></td>
        <td class="rows"><%= decorator.phone %></td>
        <td class="rows"><%= decorator.image %></td>
        <td class="showDest" ><%= link_to 'More info', decorator_path(decorator) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>
<div class = "back btn btn-secondary"><%= link_to 'Back', root_path %> </div>
