<p id="notice"><%= notice %></p>
<div class = "deco-holder">
<p>
  <strong class = "header">Name:</strong>
  <%= @decorator.name %>
</p>

<p>
  <strong class = "header">City:</strong>
  <%= @decorator.city %>
</p>
<p>
  <strong class = "header">Price:</strong>
  <%= @decorator.price %>
</p>
  <strong class = "header">Phone:</strong>
  <%= @decorator.phone %>
</p>
<p>
  <strong class = "header">Images:</strong>
  <%= @decorator.image %>
</p>
<div class ="bk">
<%= link_to 'Back', decorators_path, :class => "back-deco header" %>
<%# <%= link_to 'Reserve', ## %>
</div>