<div class = event >
<p id="notice"><%= notice %></p>

<h1 class = "header" >Events</h1>

<table class="table" >
  <thead class="thead-dark">
    <tr class="firstRow">
      <th>Date</th>
      <th>Venue</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr class="rows">
        <td><%= event.date %></td> 
        <td><%= event.venue %></td> 
        <td><%= event.type_of %></td>
        <td class="showDest"><%= link_to 'Show', event, :class => "btn btn-secondary" %></td>
        <td class="showDest"><%= link_to 'Destroy', event, method: :delete, :class => "btn btn-secondary", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id= "button"class= "btn btn-secondary" style= "">
<%= link_to 'New Event', new_event_path, :class => "btn btn-secondary" %>


<%= link_to 'Home', root_path, :class => "btn btn-secondary"%>
</div>
</div>