<div class = "session show-holder">
<%# <p id="notice"><%= notice %>

<p>
  <strong class = "header">Date:</strong>
  <strong class = "data"> <%= @event.date  %> </strong>
</p>

<p >
  <strong class = "header"> User:</strong>
 <strong class = "data"> <%= @event.user.name %> </strong>
</p>


<p>
  <strong class = "header" >Venue:</strong>
 <strong class = "data"> <%= @event.venue.name%> </strong>
</p>
<p>
  <strong class = "header" >Decorator:</strong>
 <strong class = "data"> <%= @event.decorator.name%> </strong>
</p>

<p>
  <strong class = "header" >Type:</strong>
 <strong class = "data"> <%= @event.type_of %> </strong>
</p>
<br>
<br>
<%= link_to 'Edit', edit_event_path(@event), :class => "btn-header header" %> 
<%= link_to 'Back', events_path, :class => "btn-header header" %>
</div>