<p id="notice"><%= notice %></p>
<div class = "venues-holder">
<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>
<p>
  <strong>Price:</strong>
  <%= @venue.price %>
</p>
<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @venue.phone %>
</p>
<p>
  <strong>Images:</strong>
  <%= @venue.image %>
</p>

<%= link_to 'Back', venues_path %>
<%# <%= link_to 'Reserve', ## %>
